$contentBackground: #fff;
$fontFamily: Arial, Helvetica, sans-serif;
$navtoolbarColor: #1FBCD3;
$borderlineColor: #757575;
$articleBackground: #EFEFEF;
$articleHeader: #1697A6;
$articleParagraph: #617D8A;
$articleDescription: #159587;

