$contentBackground: #EFEFEF;
$fontFamily: "Times New Roman", Times, serif;
$navtoolbarColor:  #FC5830;
$borderlineColor: #CFD8DC;
$articleBackground: #FFF;
$articleHeader: #617D8A;
$articleParagraph: #757575;
$articleDescription: #BFBFBF;